layout {
    background-color "transparent"

    focus-ring {
        active-color   "#accae6"
        inactive-color "#8c9197"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#accae6"
        inactive-color "#8c9197"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#accae6"
        inactive-color "#8c9197"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#accae680"
    }
}

recent-windows {
    highlight {
        active-color   "#8aa8c3"
        urgent-color   "#ffb4ab"
    }
}